*.py[cod]

# ignore experiemntal results in sandbox directory (but keep directory and readme file)
sandbox/*
!sandbox/README.txt

examples/tmp
examples/*vtr
examples/*pkl
examples/*g00
examples/*g01
examples/*g02
examples/*g12
examlpes/*dxf
examples/*grv
examples/*mag

docs/notebooks/*g00
docs/notebooks/*g01
docs/notebooks/*g02
docs/notebooks/*g12
docs/notebooks/*g??

docs/notebooks/*dxf
docs/notebooks/*grv
docs/notebooks/*mag

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
GBasin_uncertainty.zip
*.zip
noddy.exe
*.swp
*.vtr
docs/notebooks/SALib-sensitivity-analysis_files
9-Sensitivity-Analysis-checkpoint.ipynb
8-Experiments-checkpoint.ipynb
*.o
pynoddy/sampling-SamT15.py
topology/old_version/compile.bat
topology/old_version/topology.exe
topology/old_version/topology.c
